* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;    
}

header
{
    flex: 1;
    background-color: antiquewhite;
    min-height: 90px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header > p > a{
    text-decoration: none;
}

.container {
    align-self: center;
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table{
    flex: 0 3 auto;
    width: 50vmin;
    height: 50vmin;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;

    display: grid;
}

.config{
    display: flex;
    justify-content: center;
    height: 30vmin;
}
.config select{
    width: 50px;
    height: 20px;
    margin-left: 10px;
}

.clicked{
    background-color: yellow;
}